@CHARSET "UTF-8";

#attendList {
    width:690px;
    margin:30px auto;
    text-align:left;
}

#attendList_title {
    width:664px;   /* 690px - (padding-left+border:3px+border:3px) */
    padding-left:20px;
    height:40px;
    border:3px solid #D6D4A6;
    text-align:left;
    font-weight: bold;
    line-height:40px;
    font-size:10pt;
    margin-bottom:30px;
}

#attendList_header {
    height: 27px;
}

#attendList_header .selectField {border:1px solid; border-color:#666666; background-color:#ffffff; font-family:굴림; font-size:9pt;}
#attendList_header .textField {border:1px solid; height:13px; padding:2px 2px 2px 2px; border-color:#666666; background-color:#ffffff; font-family:"굴림"; font-size:9pt;}
